.MainSidebar {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll; /* Enable scrolling */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    padding: 20px;
}
.User-pannel {
    margin-top: 10px;
}
.User-pannel h1 {
    font-size: 0.8rem;
    font-weight: 500;
    background: #b4ddff;
    padding: 4px 16px;
    border-radius: 12px;
}
.Head {
    height: 50px;
    width: 160px;
    background-color: rgb(234, 234, 234);
    border-radius: 20px;
    margin-top: 12px;
}
.Select {
    display: flex;
    align-items: center;
    background: rgba(242, 242, 242, 1);
    border-radius: 8px;
    height: 6vh;
    width: 114%;
}
.Select p {
    margin-top: 18px;
    margin-left: 10px;
    font-size: 0.6rem;
}
.logout-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    width: 16vw;
    background: rgba(242, 242, 242, 1);
    color: rgba(92, 92, 92, 1);
    padding: 6px 4px;
    border: none;
    border-radius: 8px;
}
.account {
    display: flex;
}
.User-pannel-percentage h1 {
    margin-top: 10px;
    font-size: 0.6rem;
    font-weight: 500;
    background: #f8f8f8;
    padding: 6px 16px;
    border-radius: 12px;
    color: #3b96e1;
}

.User-pannel-percentage span {
    font-weight: 600;
}
.sidebar-btns {
}
.sidebar-btns ul li {
    text-decoration: none;
    list-style-type: none;
    font-size: 0.8rem;

    /* background: rgba(242, 242, 242, 1); */

    padding: 8px 5px;
    margin-left: 0px;
    border-radius: 8px;

    margin-bottom: 6px;
}
.sidebar-btns ul {
    list-style-type: none; /* Remove bullets */
    padding-left: 0; /* Remove default padding */
}
.logout-img {
    margin-left: 10px;
}
